Perform the following operations using Python on the Iris data sets

g. Create data subsets for different species

h. Merge two subsets

i. Sort Data Petal Length

j. Transposing Data

k. Melting Data to long format

l. Casting data to wide format

In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("F:\DSBDALExam DataSets\DSBDALExam DataSets\Iris\Iris.csv")
data

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
# 1. Create data subsetd for different species

setosa = data[data['class'] == 'Iris-setosa']
versicolor = data[data['class'] == 'Iris-versicolor']
virginica = data[data['class'] == 'Iris-virginica']

In [9]:
# 2. Merge two subsets

pd.concat([setosa, virginica])

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [10]:
# 3. Sort data by petal length

data.sort_values(by = "petal length in cm")

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
22,4.6,3.6,1.0,0.2,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
...,...,...,...,...,...
131,7.9,3.8,6.4,2.0,Iris-virginica
105,7.6,3.0,6.6,2.1,Iris-virginica
117,7.7,3.8,6.7,2.2,Iris-virginica
122,7.7,2.8,6.7,2.0,Iris-virginica
118,7.7,2.6,6.9,2.3,Iris-virginica

In [11]:
# 4. Transposing data

data.transpose()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal length in cm,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal width in cm,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal length in cm,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal width in cm,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
class,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [12]:
# 5. Melting to long format

pd.melt(data, id_vars=["class"])

              class            variable  value
0       Iris-setosa  sepal length in cm    5.1
1       Iris-setosa  sepal length in cm    4.9
2       Iris-setosa  sepal length in cm    4.7
3       Iris-setosa  sepal length in cm    4.6
4       Iris-setosa  sepal length in cm    5.0
..              ...                 ...    ...
595  Iris-virginica   petal width in cm    2.3
596  Iris-virginica   petal width in cm    1.9
597  Iris-virginica   petal width in cm    2.0
598  Iris-virginica   petal width in cm    2.3
599  Iris-virginica   petal width in cm    1.8

[600 rows x 3 columns]